body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 15px;
    text-align: center;
  }
  

  .alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-success {
    color: #4caf50;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    height: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    position: relative;
  }
  .close span{
    position: absolute;
    top: 0;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.75;
  }